/* Main
----------------------------------------------------------------------------------------------------*/

.graph {
    width: 1000px;
    height: 500px
}

.table_wide td{
    padding:2px 2px 2px 2px;
}

.table_wide th{
    padding:2px 2px 2px 2px;
}

.table_loose_vertical tr{
    padding:2px 25px 2px 2px;
}

.ta

.text_input_blue{
    border: 1px solid #009EDF;
    height: 25px;
    width: 200px;
}

.text_default{
    font-family: Arial,Helvetica,sans-serif;
    font-size: 16px;
    color: #717F81;
    font-weight: lighter;
    text-decoration: none;
    padding:15px;
    border:solid 25px transparent;
}