/* Containers
----------------------------------------------------------------------------------------------------*/

#container {
	margin-left: auto;
	margin-right: auto;
	margin-top:0;
	width: 830px;
}

/* Grid >> Global
----------------------------------------------------------------------------------------------------*/

.grid_content_left,
.grid_content_right,
.grid_content_main
{
	display: inline;
	float: left;
	position: relative;
}

/* Grid >> 3 Columns
----------------------------------------------------------------------------------------------------*/


#container .grid_content_left {
	width: 150px;
	min-height:427px;
	margin:10px 0 0 0;
	padding:25px 15px 0 0;
	
}

#container .grid_content_right {
	width: 625px;
	background-color:transparent;
	min-height:427px;
	margin:10px 0 0 0;
	padding:25px 15px 0 20px;
}

#container .grid_content_main {
	width: 785px;
	background-color:transparent;
	min-height:427px;
	margin:10px 0 0 0;
	padding:25px 15px 0 20px;
	/*text-align:center;*/
}


/* Clear Floated Elements
----------------------------------------------------------------------------------------------------*/

/* http://sonspring.com/journal/clearing-floats */

.clear {
	clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}

/* http://perishablepress.com/press/2008/02/05/lessons-learned-concerning-the-clearfix-css-hack */

.clearfix:after {
	clear: both;
	content: ' ';
	display: block;
	font-size: 0;
	line-height: 0;
	visibility: hidden;
	width: 0;
	height: 0;
}

.clearfix {
	display: inline-block;
}

* html .clearfix {
	height: 1%;
}

.clearfix {
	display: block;
}

