/* 
    Document   : layout
    Created on : Mar 15, 2012, 7:08:44 PM
    Author     : juha
    Description:
        Contents: 
                - Global settings
                        < Navigation menu
                        < Footer
                - User pages
                        < Header
                        < Navigation menu
                    * Front page
                    * History view
                        < Constrols
                        < Graph
                        < Content
                    * Settings view
                    * Graph view
                - Admin pages
                        < Header
                    * Front page

*/






/*################################################# BEGIN GLOBAL SETTINGS ################################################*/

root { 
    display: block;
}

html {
    height: 100%;
}

body {
    height: 100%;
    /* set the max width to match the width of the background*/
    max-width: 1920px;
    margin-top:0;
    margin-left:0;
    background-color:#FFF;
    /* background-image:url(../../img/asemo_bg.gif); */
    background-repeat: no-repeat;
    font-family: Arial, Helvetica, sans-serif;
    font-size:13px;
    color: #4f524a;
}

#container {
    min-height: 100%;
}

#content {
    overflow:auto;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 30px; /* Must be same as footer height*/
}

button {
    background-color: #009EDF;
    color: #FFFFFF !important;
    height: 25px;
    width: 120px;
}

.button {
    background-color: #009EDF;
    color: #FFFFFF !important;
    height: 25px;
    width: 120px;
}

.ui-datepicker{ 
    z-index: 9999 !important;
}

/* --------------------------- BEGIN NAVIGATION MENU ------------------------------*/

div.navigation_menu ul {
    float: right;
    padding:55px 0 0 0;
}

div.navigation_menu ul.fp {
    float: right;
    padding:20px 0 0 0;
}

div.navigation_menu ul.fp li, div.navigation-pages ul li {
    float: left;
    list-style-type: none;
    font-size: 16px;
    color:#717f81 !important;
    font-weight:normal;
    padding:0 0 0 20px;
}

div.navigation_menu ul li, div.navigation-pages ul li {
    float: left;
    list-style-type: none;
    font-size: 14px;
    font-weight:normal;
}

div.navigation_menu ul li a:hover, div.navigation-pages ul li a:hover {
    color: #009edf;
    text-decoration: none;
    font-weight:normal;
    border-right:1px solid #009edf;
}

div.navigation_menu ul li a, div.navigation-pages ul li a {
    color: #44463d;
    text-decoration: none;
    border-right:1px solid #009edf;
    margin:0 5px 0 0;
    padding:5px 8px 5px 5px;
    display:block;
}

div.navigation_menu ul li input {
    border:1px solid #009edf;
    width:200px;
    height:25px;
}

/* ---------------------------- END NAVIGATION MENU -------------------------------*/


/* ------------------------------- BEGIN FOOTER -----------------------------------*/

#footer {
    margin-top: -30px; /* negative value of footer height */
    height: 30px; /* remember to set #content.padding-bottom to this valua */
    padding-left: 20px;
    padding-right: 20px;
    clear:both;
} 

/* -------------------------------- END FOOTER ------------------------------------*/

/*################################################# END GLOBAL SETTINGS ################################################*/













/*################################################# BEGIN USER PAGES ################################################*/

/* ---------------------------- BEGIN USER HEADER ---------------------------------*/
/* Should be at least as wide as the child elements */
#user_header {
    background-image:url(../img/asemo_bg.gif);
    height: 119px; /* must be at least same as the height of the background image*/
    padding-left: 50px;
    padding-right: 50px;
    min-width: 600px; /* space for a logo + navigation menus */
    max-width: 1920px;

}

.logo {
    background: url("../img/asemo_logo.png") no-repeat scroll left top transparent;
    display: block;
    float: left;
    height: 59px;
    margin-top: 45px;
    width: 250px;
}

#logo_text {
    display: none;
}
/* ---------------------------- END USER HEADER -----------------------------------*/

/*----------------------------- BEGIN USER NAVIGATION MENU -----------------------------*/

/* Note! add enough space(width) to fit all menu items */
#user_navigation_menu {
    float: right;
    display: block;
    min-width: 350px;
}

/*------------------------------ END USER NAVIGATION MENU ------------------------------*/



/* ============================== BEGIN USER FRONTPAGE ============================*/
.fp_logo {
    display: block;
    float:left;
    width:312px;
    height:60px;
    margin-top:20px;
    background: transparent url('../img/asemo_logo_fp.png') top left no-repeat;
}

#frontpage_logo {
    display: block;
    float:left;
}

#frontpage_content {
    /*    margin-left: auto;
        margin-right: auto;
        margin-top:0;
        width: 900px;*/
}

#frontpage_header {
    /*    position:relative;*/
    padding-top:26%;
    width: 920px;
    height:104px;
    clear:both;
    margin-left: auto;
    margin-right: auto;
}
/* ============================= END USER FRONTPAGE ===============================*/


/*================================== BEGIN HISTORY VIEW ==================================*/

/*----------------------------- BEGIN HISTORY CONTROLS-----------------------------*/
#history_controls {
    display: block;
    float: left;
    padding-left: 20px;
    padding-right: 20px;
    max-width: 120px;
    z-index: 10;
}

#history_controls dl {

}

#history_controls dl {
    margin-top: 4px;
    margin-bottom: 4px;
    margin-left: 4px;
}

#history_controls dt { 
    font-weight: bold; 
} 

#history_controls dd { 
    margin: 0;
    padding: 0 0 0.5em 0; 
}

#history_controls ul {
    margin-top: 4px;
    margin-bottom: 4px;
    margin-left: 4px;
}

#history_controls li {
    padding: 0 0 0.5em 0;
}

#history_controls button {
    width: 120px;
}

#history_controls input {
    width: 115px;
}

/*------------------------------ END HISTORY CONTROLS -----------------------------*/



/*------------------------------ BEGIN HISTORY GRAPH ------------------------------*/
#history_graph {
    display: block;
    float: left;
    /* clear:both; */
    /* width: 70%; */
    min-height: 200px;
    height: 100%;
}
/*-------------------------------- END HISTORY GRAPH ------------------------------*/



/*----------------------------- BEGIN HISTORY CONTENT -----------------------------*/
#history_content {
    display: block;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-top: 10px;
    overflow: auto;
    height: 100%;
}
/*------------------------------- END HISTORY CONTENT -----------------------------*/



#history.footer {
    min-height: 100px;
}

/*==================================== END HISTORY VIEW ===================================*/



/*=============================== BEGIN USER SETTINGS VIEW ================================*/

#user_info {
    display: block;
    float: left;
    padding-left: 20px;
    padding-right: 200px;
    max-width: 300px;
}

#residence_form {
    display: block;
    float: left;
}
/*================================ END USER SETTINGS VIEW =================================*/




/*=================================== BEGIN GRAPH VIEW ====================================*/

#graph_container {
    margin-left: auto;
    margin-right: auto;
    margin-top:0;
    width: 98%;
}

/*=================================== END GRAPH VIEW =====================================*/




/*################################################# END USER PAGES ################################################*/
















/*################################################# BEGIN ADMIN PAGES ################################################*/

.admin_container {
    padding-left: 20px;
    padding-right: 20px;
}


/* ---------------------------- BEGIN ADMIN HEADER ---------------------------------*/
/* Should be at least as wide as the child elements */
#admin_header {
    background-image:url(../img/asemo_bg.gif);
    height: 119px; /* must be at least same as the height of the background image*/
    padding-left: 50px;
    padding-right: 50px;
    min-width: 1055px; /* space for a logo + navigation menus */
    max-width: 1920px;

}

.admin_logo {
    background: url("../img/asemo_admin_logo.png") no-repeat scroll left top transparent;
    display: block;
    float: left;
    height: 59px;
    margin-top: 45px;
    width: 320px;
}

#logo_text {
    display: none;
}
/* ---------------------------- END ADMIN HEADER -----------------------------------*/



/* ============================= BEGIN ADMIN FRONTPAGE ==============================*/
.admin_fp_logo {
    display: block;
    float:left;
    width:420px;
    height:60px;
    margin-top:20px;
    background: transparent url('../img/asemo_admin_logo_fp.png') top left no-repeat;    
}

/* ============================= END ADMIN FRONTPAGE ============================= */




/* ======================== BEGIN ADMIN SCHEMA SETTINGS VIEW ======================*/
.inner_table {
    padding-left: 30px;
}

.schema_variables td:nth-of-type(1)>input, .schema_variables th:nth-of-type(1)
{
    width: 180px;
}

.schema_variables td:nth-of-type(2)>input, .schema_variables th:nth-of-type(2)
{
    width: 420px;
}

.schema_variables td:nth-of-type(3)>input, .schema_variables th:nth-of-type(3)
{
    width: 70px;
}

.schema_variables td:nth-of-type(4), .schema_variables th:nth-of-type(4)
{
    width: 400px;
}


/*.schema_variables div
{
    display: block;
    float: left;
    width: 20px;
    padding-left: 11px;
}

.schema_variables li
{
    display: inline;
    float: left;
    list-style-type: none;
    padding-right: 5px;
}

.schema_variables
{
    float: left;
    clear: both;
}

#schema_variables_header
{
    height: 40px;
}

.schema_variables div:first-of-type, .schema_variables li:first-of-type>input
{
    width: 45px;
}

.schema_variables div:nth-of-type(2), .schema_variables li:nth-of-type(2)>input
{
    width: 180px;
}

.schema_variables div:nth-of-type(3), .schema_variables li:nth-of-type(3)>input
{
    width: 420px;
}

.schema_variables div:nth-of-type(4), .schema_variables li:nth-of-type(4)>input
{
    width: 70px;
}

.schema_variables div:nth-of-type(5), .schema_variables li:nth-of-type(5)>select
{
    width: 400px;
}


#variable_normalization_settings th,tr{
    padding-right: 30px;
}*/

.area {
    border:1px solid #00CCFF;
    margin:10px;
    padding:10px 40px; 
    /*background:#dddddd;*/
    border-radius:2px;
    display:table;
}

#sf {
    width: 60px;
}

/* ======================== END ADMIN SCHEMA SETTINGS VIEW ========================*/


/*################################################# END ADMIN PAGES ################################################*/

