/* Main
----------------------------------------------------------------------------------------------------*/
html  {
    height:100%;
}

html {
    background:none repeat scroll 0 0 #fff;
}

* {
    margin:0;
    padding:0;
}

body {
    margin-top:0;
    margin-left:0;
    background-color:#FFF;
    background-image:url(../../img/asemo_bg.gif);
    background-repeat: no-repeat;
    font-family: Arial, Helvetica, sans-serif;
    font-size:13px;
    color: #4f524a;
}

body.fp {
    background-color:#FFF;
    background-image:url(../../img/asemo_bg_front_page.gif);
    background-repeat: no-repeat;
    font-family: Arial, Helvetica, sans-serif;
    font-size:13px;
    color: #4f524a;
    background-attachment: scroll;
}

/* Main Text Links
----------------------------------------------------------------------------------------------------*/

a:link {
    color:#44463d;
    text-decoration: underline;
}

a:hover {
    color: #009edf;
    text-decoration: none;
}

/* Main Text Styles
----------------------------------------------------------------------------------------------------*/
h1 {
    color: #009edf;
    font-size: 16px;
    font-weight:lighter;
    padding:20px 0 0 0;
    text-transform:uppercase;
}

h2 {
    color: #009EDF;
    font-size: 13px;
    font-weight: lighter;
    padding: 20px 0 0;
    text-transform: uppercase;
}

h3 {
    color: #009EDF;
    font-size: 10px;
    font-weight: lighter;
    padding: 20px 0 0;
    text-transform: uppercase;
}

p {
    padding: 10px 0 0 0;
}

/* Header
----------------------------------------------------------------------------------------------------*/
#header {
    padding:0;
    width: 900px;
    height:104px;
    clear:both;
}

#header_fp {
    position:relative;
    padding-top:26%;
    width: 920px;
    height:104px;
    clear:both;
}

#header_fp div.h1 strong {
    display: none;
    float:left;
}



#header div.h1 strong {
    display: none;
    float:left;
}

/*.header_logo {
        display: block;
        float:left;
        width:250px;
        height:59px;
        margin-top:45px;
        background: transparent url('../../img/asemo_logo.png') top left no-repeat;
        }
        
.admin_header_logo {
        display: block;
        float:left;
        width:320px;
        height:59px;
        margin-top:45px;
        background: transparent url('../../img/asemo_admin_logo.png') top left no-repeat;
        }*/

/* Main Navigation
----------------------------------------------------------------------------------------------------*/
#navigation {
    display: block;
    float: right;
    min-width:340px;
}


div#navigation ul {
    float: right;
    padding:55px 0 0 0;
}

div#navigation ul.fp {
    float: right;
    padding:20px 0 0 0;
}

div#navigation ul.fp li, div#navigation-pages ul li {
    float: left;
    list-style-type: none;
    font-size: 16px;
    color:#717f81 !important;
    font-weight:normal;
    padding:0 0 0 20px;

}

div#navigation ul li, div#navigation-pages ul li {
    float: left;
    list-style-type: none;
    font-size: 14px;
    font-weight:normal;

}

div#navigation ul li a:hover, div#navigation-pages ul li a:hover {
    color: #009edf;
    text-decoration: none;
    font-weight:normal;
    border-right:1px solid #009edf;
}


div#navigation ul li a, div#navigation-pages ul li a {
    color: #44463d;
    text-decoration: none;
    border-right:1px solid #009edf;
    margin:0 5px 0 0;
    padding:5px 8px 5px 5px;
    display:block;
}

div#navigation ul li input {
    border:1px solid #009edf;
    width:200px;
    height:25px;
}




/* Content
----------------------------------------------------------------------------------------------------*/
#left_content {
    float: left;
    width:200px;
    padding:30px 0 0 25px;
    color: #008444!important;
}

#left_content ul {
    float: left;
    padding:10px 0 0 0;
    color: #008444!important;
}

#left_content ul li {
    display:block;
    font-size: 14px;
    margin:0;
    padding:5px 8px 5px 10px;
    height:14px;
    color: #008444!important;
}

#left_content ul li a:link {
    color: #008444!important;
}

#left_content ul li a
#left_content ul li a:hover {
    color: #003a69;
}

#left_content ul li a:active {
    color: #003a69;
}



#middle_content {
    float: left;
    width:460px;
    padding: 30px 20px 0 20px;
}

#right_content {
    float: left;
    width:190px;
    padding: 30px 10px 0 10px;
    text-align:center;
}


/* Footer Style and Padding
----------------------------------------------------------------------------------------------------*/

#site-info  {
    background-color:transparent;
    height:100% !important;
    min-width:830px;
    position:relative;
    width:100% !important;
}

#footer {
/*    clear: both;*/
    color: #717f81;
    background-color:transparent;
/*    width:825px;
    margin-left:auto;
    margin-right:auto;
    padding: 10px 0 25px 0;
    min-height:200px;*/
}

#footer_content {
    float:left;
    width:800px;
    margin:0;
    padding:0 25px 0 0;
}

#footer ul li {
    display:block;
    font-size: 16px;
    padding: 10px 0 0 0;
}

#footer ul li a:link {
    color: #717f81; 
    text-decoration:none;
    font-weight:lighter;
}

#footer ul li a:visited {
    color: #717f81;
    text-decoration:none;
}

#footer ul li a:hover {
    color: #009edf;
    text-decoration:none;
    font-weight:lighter;
}

#footer ul li a:active {
    color: #009edf;
    text-decoration:none;
}


div.entry-content p  {font-size:12px;margin:0;padding:0 0 8px 0;}

input.ajankohta {margin:0 5px 0 0; padding:0; float:left;}

table#choose_time { font-family:Arial, Helvetica, sans-serif; font-size:14px !important; color:#44463d;}
table td.choose_time { padding:10px 0 0 0 !important;}
table td.choose_time2 { padding:5px 0 0 0 !important;}
table td.choose_time3 { padding:10px 0 0 0 !important; margin-top:10px 0 0 0 !important; }
table td.choose_time2 input {border:1px solid #009edf;}
table td.choose_time2 input.hae { background-color:#009edf; width:50px; height:25px; color:#FFF !important; margin:10px 0 0 0;}

div#main_notes {margin:30px 0 0 0; min-height:160px;}
div.notes_left {display:block; float:left; min-height:30px; }
div.notes_right {display:block; float:left; min-height:30px; padding:3px 0 0 5px;}

div.fp_login { float:left; }

div.vertaa { float:left; display:block; padding:0 0 0 40px; }

div.vertaa span.vuosi2010 { display:block; float:right; background-color:#059edd; height:15px; width:15px; margin:0 0 0 5px; }

div.vertaa span.vuosi2011 { display:block; float:right; background-color:#cc4d5a; height:15px; width:15px; margin:0 0 0 5px; }

div#nakyma { margin:0; padding:25px 0 0 0; }

#customers_table th {
    width:20%;
}

#users_table th {
    width:16%;
}

.table_wide td{
    padding:2px 2px 2px 2px;
}